<div class="background">
<router-outlet></router-outlet>

<mat-toolbar>
  <div class="box" style="position: relative;left: 5%;">
    <h1>OMDB Search</h1>
    
  </div>
  <div class="box" style="position: relative;left: 50%;">
    <input class="box" style="position: relative;left: 70%;" type="text" #movieSearchInput class="form-control" placeholder="Search a movie" />
    
  </div>
</mat-toolbar>

<div class="box" style="margin: 50px; position: relative;left: 5%;" >

  <div class="container" style="text-align:center">
    
    <div class="row" *ngIf="isSearching">
      <div class="col-12 text-center">

        <h4>Searching ... </h4>

      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">
      <div class=ex1 style="position: relative;left: 10%;">
        <div class="col-12 text-center" >
          <div class="alert alert-danger" role="alert" >
            {{apiResponse['Error']}}

          </div>
        </div>
      </div>
        

      </ng-container>
      <ng-template #elseTemplate>

        <div  style="margin: 50px; position: fixed;left: 45%;" [hidden]="isShowDiv">
          <div>
            <mat-card><b>Movie Details : {{name}}</b></mat-card><br>
          </div>
          <div id="DetailsDIV">
            <p> <b>Actors:</b> {{movieDetails['Actors']}}</p>
            <p> <b>Awards:</b> {{movieDetails['Awards']}}</p>
            <p> <b>BoxOffice:</b> {{movieDetails['BoxOffice']}}</p>
            <p> <b>Country:</b> {{movieDetails['Country']}}</p>
            <p> <b>Director:</b> {{movieDetails['Director']}}</p>
            <p> <b>Genre:</b> {{movieDetails['Genre']}}</p>
            <p> <b>Actors:</b> {{movieDetails['Language']}}</p>
            <p> <b>Actors:</b> {{movieDetails['Plot']}}</p>
            <p> <b>Actors:</b> {{movieDetails['Production']}}</p>
          </div>
          
        </div>
        <div class="col-3" *ngFor="let movie of apiResponse['Search']">

          

          <div class="card" style="margin:5px;">
            <img class="card-img-top" src="{{movie['Poster']}}">
            <mat-card>
              <div class="card-body">
                <h1 class="card-title">{{movie['Title']}}</h1>
                <p class="card-text">Year: {{movie['Year']}}</p>
                
                
                <button mat-raised-button color="primary" (click)="getDetails(this.movie)">Details</button>
              </div>
            </mat-card>
            
          </div>
        </div>

      </ng-template>
    </div>
  </div>

</div>
</div>
