<router-outlet></router-outlet>

<mat-toolbar>
  <div class="box" style="position: relative;left: 5%;">
    <h1>OMDB Search</h1>
    
  </div>
  <div class="box" style="position: relative;left: 50%;">
    <input class="box" style="position: relative;left: 70%;" type="text" #movieSearchInput class="form-control" placeholder="Search a movie" />
    
  </div>
</mat-toolbar>

<div class="box" style="margin: 50px; position: relative;left: 35%;" >

  <div class="container" style="text-align:center">
    
    <div class="row" *ngIf="isSearching">
      <div class="col-12 text-center">

        <h4>Searching ... </h4>

      </div>
    </div>
    <div class="row">
      <ng-container *ngIf="apiResponse['Response'] == 'False'; else elseTemplate">
      <div class=ex1 style="position: relative;left: 10%;">
        <div class="col-12 text-center" >
          <div class="alert alert-danger" role="alert" >
            {{apiResponse['Error']}}

          </div>
        </div>
      </div>
        

      </ng-container>
      <ng-template #elseTemplate>


        <div class="col-3" *ngFor="let movie of apiResponse['Search']">

          

          <div class="card" style="margin:5px;">
            <img class="card-img-top" src="{{movie['Poster']}}">
            <mat-card>
              <div class="card-body">
                <h5 class="card-title">{{movie['Title']}}</h5>
                <p class="card-text">Year: {{movie['Year']}}</p>
                <div id="DetailsDIV" [hidden]="isShowDiv">
                  <p> Type: {{movie['Type']}}</p>
                  <p> imdbID: {{movie['imdbID']}}</p>
                </div>
                
                <button mat-raised-button color="primary" (click)="getDetails(this.movie)">Details</button>
              </div>
            </mat-card>
            
          </div>
        </div>

      </ng-template>
    </div>
  </div>

</div>

